* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#thanhdat_main {
    width: 1000px;
    margin: 0 auto;
}

#thanhdat-form-login {
    margin-top: 10px;
    width: 400px;
    background-color: #ccc;
    border: 1px solid #000;
}

#thanhdat-form-login span {
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    text-align: right;
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.thanhdat_ip {
    width: 200px;
    line-height: 30px;
    border: thin #999 solid;
    border-radius: 5px;
    margin: 5px;
    float: left;
    outline: none;
}

#thanhdat_btn {
    margin: 10px 0px 10px 200px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: green;
}

.thanhdat_error {
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
    background-color: greenyellow;
}

#thanhdat_error {
    text-align: center;
}

.clear {
    clear: both;
}