*{
    padding: 0px;
    margin: 0px;
}
.A{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
}
.A2{
    width: 98%;
    height: 25px;
    margin: auto;
}
.A1{
    width: 70%;
    height: 25px;
    float: left;
    color: #ffffff;
    font-size: 20px;
    background-color: black;
}
.A1 a{color: #ffffff;}
.A3 ul{
    width: 30%;
    height: 25px;
    float: right;
    margin: auto;
    text-align: center;
}
.A3 ul li{
    font-size: 15px;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 30px;
}
.A3 ul li a{color: #ffffffbf;}
#header tr th:hover{
    color:#ffffff;
}
#header tr th{
    padding: 0px 11px 0px 0px;
}
.B{
    width: 100%;
    height: 400px;
    display: flex;
}
.B1{
    width: 80%;
    height: 300px;
    margin: auto;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}
body{
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
}
#mid button{
    width: 280px;
    height: 70px;
    color: #ffffff;
    background-color: #d84780;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
.C{
    width: 100%;
    height: 500px;
    display: flex;
}
.C1{
    margin: auto;
    width: 90%;
    height: 600px;
    display: flex;
}
.C11{
    width: 300px;
    height: 370px;
    float: left;
    margin: auto;
    background-color: #ffffff;
    text-align: center;
    word-break: break-word;
    font-size: 15px;
}
.D{
    width: 100%;
    height: 500px;
    display: flex;
}
.nut{
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: #d84780;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.E{
    width: 100%;
    height: 400px;
    display: flex;
}
.E1{
    width: 85%;
    height: 500px;
    margin: auto;
}
#mid2 tr td{
    padding: 10px 10px 0px 10px;
}
#mid2 h3{
    font-size: 35px;
    color: #ffffff;
}
#mid2 p{
    color: #ffffff;
    font-size: 17px;
}
.F{
    width: 100%;
    height: 800px;
    background-color: #d84780;
    display: flex;
}
.F1{
    width: 60%;
    height: 75%;
    margin: auto;
    text-align: center;
}
.F1 h1{color: #ffffff;
font-size: 36px;
font-weight: 900;
}
.F1 h3{color: #ffffff;
display: block;
margin: 20px 0px 0px 0px;
padding: 0px 0px 20px 0px;}
.F1 input{width: 100%;
background: white;
color: #555555;
border-radius: 6px;
padding: 20px;
margin: 15px;
border: none;
}
.F1 textarea{
width: 100%;
background: white;
color: #555555;
border-radius: 6px;
padding: 20px;
padding-bottom: 150px;
margin: 15px;
border: none;
}
.F1 button{padding: 20px 20px;
border-radius: 6px;
border: 1px solid #fff;
background-color: #d84780;
color: #ffffff;
text-transform: uppercase;
font-size: 18px;
font-weight: 600;
}
#end{height: 300px;
    color: #ffffffbf;
background-color: black;
}
.G1 p{text-align: center;
color: #ffffff33;
padding-top: 50px;
font-size: 16px;
background-color: black;
padding-bottom: 50px;}
.G1 p a{color: #ffffff33;
}
.G2{text-align: center;
background-color: black;
}
